/*--------------------------------------------------------------
	footer Footer Css
--------------------------------------------------------------*/

.footer_area {}

.footer__bg {
    background-color: var(--footer-bg);
}

.footer {
    &__extraPadding {
        padding-top: 100px;
    }
    &__border {
        &__top {
            border-top: 1px solid rgba(var(--black-rgb), .05);
        }
    }
    &_widget {
        position: relative;
        z-index: 1;
        &__title {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-transform: capitalize;
            position: relative;
            color: var(--heading-color);
            @include responsive(xxs) {
                font-size: 22px;
            }
            @include responsive(vxxs) {
                font-size: 20px;
            }
        }
        &__inner {
            .footer_logo {
                text-align: center;
            }
            .footer_widget__para {
                font-size: 15px;
                color: var(--paragraph-color);
            }
            .footer_para {
                font-size: 16px;
                color: var(--paragraph-color);
                line-height: 28px;
            }
        }   
        &__link {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                position: relative;
                z-index: 2;
                @include transition(300ms);
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                &:hover {
                    a {
                        color: var(--main-color-one);
                    }
                }
                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--paragraph-color);
                    position: relative;
                    -webkit-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    position: relative;
                    z-index: 1;
                    &:hover {
                        color: var(--main-color-one);
                    }
                }
            }
        }
        &__social {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0;
            gap: 10px;
            margin: 0;
            list-style: none;
            li {
                a {
                    color: var(--main-color-one);
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    width: 35px;
                    font-size: 15px;
                    border-radius: 5px;
                    background: var(--white);
                    border: 1px solid var(--border-color);
                    border-radius: 50%;
                    box-shadow:  0 0 10px rgba(var(--white-rgb), .1);
                    @include transition(300ms);
                    @include responsive(xs) {
                        font-size: 18px;
                        height: 35px;
                        width: 35px;
                    }
                    @include responsive(vxxs) {
                        height: 30px;
                        width: 30px;
                    }
                    &:hover {
                        color: var(--white);
                        background: var(--main-color-one);
                        box-shadow: unset;
                    }
                }
            }
        }    
        &__contact {
            &__single {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                &:hover {
                    .footer__contact {
                        &__icon {
                            background-color: var(--main-color-one);
                            color: var(--white);
                        }
                        &__details {
                            &__item {
                                color: var(--main-color-one);
                            }
                        }
                    }
                }
            }
            &__flex {
                display: flex;
                align-items: center;
                gap: 15px;
            }
            &__icon {
                color: var(--heading-color);
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 35px;
                width: 35px;
                font-size: 15px;
                border-radius: 5px;
                background: var(--white);
                border-radius: 50%;
                box-shadow:  0 0 5px rgba(var(--white-rgb), .1);
                @include transition(300ms);
            }
            &__details {
                flex: 1;
                text-align: left;
                &__subtitle {
                    display: block;
                    color: var(--extra-light-color);
                    margin-bottom: 5px;
                }
                &__item {
                    color: var(--paragraph-color);
                    @include transition(200ms);
                }
            }
            .contact__item {
                display: block;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                &:not(:first-child) {
                    margin-top: 10px;
                }
                &:hover {
                    color: var(--main-color-one);
                }
            }
        } 
    }    
    &__copyright {
        padding: 25px 0;
        &__border {
            border-top: 1px solid rgba(var(--black-rgb), .1);
        }
        &__contents {
            font-size: 16px;
            color: var(--paragraph-color);
            text-align: center;
            @include responsive(sm) {
                text-align: center;
                margin-top: 10px;
            }
            a {
                font-weight: 600;
                border-bottom: 1px solid;
            }
        }
    }
}


.white_footer {
    .footer {
        &__border {
            &__top {
                border-top: 1px solid rgba(var(--white-rgb), .1);
            }
        }
        &_widget {
            &__title {
                color: var(--white);
            }
            &__para {
                color: rgba(var(--white-rgb), .8);
            }
            &__social {
                li {
                    a {
                        background-color: unset;
                        color: var(--white);
                        border-color: var(--white);
                        &:hover {
                            border-color: var(--main-color-one);
                            background-color: var(--main-color-one);
                        }
                    }
                }
            }
            &__link {
                padding: 0;
                li {
                    a {
                        color: rgba(var(--white-rgb), .7);
                        &:hover {
                            color: var(--main-color-one);
                        }
                    }
                }
            }
        }
        &__contact {
            &__icon {
                background-color: rgba(var(--white-rgb), .2);
                color: var(--white);
                box-shadow: 0 0 5px rgba(var(--black-rgb), .05);
            }
            &__details {
                &__subtitle {
                    color: rgba(var(--white-rgb), .7);
                }
                &__item {
                    color: rgba(var(--white-rgb), .7);
                }
            }
        }
        &__copyright {
            &__border {
                border-top: 1px solid rgba(var(--white-rgb), .1);
            }
            &__contents {
                color: rgba(var(--white-rgb), .7);
                a {
                    color: var(--white);
                    &:hover {
                        color: var(--main-color-one);
                    }
                }
            }
        }
    }
}
